{% extends 'flatpages/default.html' %}

{% block title %} Product list {% endblock title %}

{% block content %}
<h2>Вы действительно хотите удалить данный пост?</h2>
<table>
    <thead>
        <th>Автор</th>
        <th>Заголовок</th>
        <th>Описание</th>
        <th>Категория</th>
    </thead>
    <tr>
        <td>
            {{post.Author.authUser}}
        </td>
        <td>
            {{post.caption}}
        </td>
        <td>
            {{ post.text}}
        </td>
        <td>
            {% for cat in post.category.all %}
                {{cat.category_name}}
            {% endfor %}
        </td>
    </tr>
</table>

<form method="POST">
    {% csrf_token %}
    <input type="submit" value="подтвердить"></form>
{% endblock content %}