{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
    Posts
{% endblock title %}

{% block content %}
    <h1> Все новости </h1>
    <h3>Новостей: {{posts|length}}</h3>
    <hr>
    {% if posts %}
        <table>
            <tr>
                <th>Заголовок</th>
                <th>Дата публикации</th>
                <th>Описание</th>
            </tr>
            {% for post in posts %}
            <tr>
                <td>
                    {{post.caption|censor}}
                </td>
                <td>
                    {{post.date_create|date:'d M Y'}}
                </td>
                <td>
                    {{ post.text|truncatechars:50|censor }}
                </td>
            </tr>
            {%endfor%}
        </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}
{% endblock content %}